name: 05 1 Filters Activity Types

on:
  pull_requst:
    types:
      - opened
      - synchronize
    branch:
      - main
      
  workflow_dispatch: 
  
jobs:
  echo:
    runs-on: ubuntu-latest

    steps:
      - run: "Runs whenever PR is opened or synchronized AND base branch is main." 